In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

C:\Users\kabil\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\kabil\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [5]:
data = pd.read_csv("data/healthcare-dataset-stroke-data.csv")

In [6]:
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [7]:
data["bmi"].describe()

count    4909.000000
mean       28.893237
std         7.854067
min        10.300000
25%        23.500000
50%        28.100000
75%        33.100000
max        97.600000
Name: bmi, dtype: float64

In [8]:
data['bmi'].fillna(28.893237,inplace=True,)

In [9]:
data['bmi']

0       36.600000
1       28.893237
2       32.500000
3       34.400000
4       24.000000
          ...
5105    28.893237
5106    40.000000
5107    30.600000
5108    25.600000
5109    26.200000
Name: bmi, Length: 5110, dtype: float64

In [10]:
data.drop('id',inplace=True,axis=1)

In [11]:
data['work_type'].unique

<bound method Series.unique of 0             Private
1       Self-employed
2             Private
3             Private
4       Self-employed
            ...
5105          Private
5106    Self-employed
5107    Self-employed
5108          Private
5109         Govt_job
Name: work_type, Length: 5110, dtype: object>

In [12]:
categorical_features = ['gender', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 
                        'Residence_type', 'smoking_status']
enc = LabelEncoder()

In [13]:
for each in categorical_features:
    data[each] = enc.fit_transform(data[each])

In [14]:
X = data.drop('stroke',axis=1)
y = data['stroke']

In [15]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,y,test_size =0.2)

In [16]:
x_train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2083,0,24.0,1,0,0,2,1,107.22,35.3,3
3179,1,24.0,0,0,1,2,1,103.45,25.1,3
3967,0,61.0,0,0,1,2,0,60.91,29.8,0
1749,0,27.0,0,0,1,2,1,80.57,39.8,3
2887,0,17.0,0,0,0,2,1,87.39,24.6,0
...,...,...,...,...,...,...,...,...,...,...
1176,0,29.0,0,0,0,0,0,57.02,43.0,1
1163,0,52.0,0,0,1,2,1,69.30,20.1,2
4707,0,61.0,0,0,1,2,0,106.65,35.9,1
330,0,78.0,0,0,1,2,1,243.50,26.1,2
904,0,25.0,0,0,1,2,0,63.64,31.3,1

In [17]:
data.describe()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,0.414286,43.226614,0.097456,0.054012,0.656164,2.167710,0.508023,106.147677,28.893237,1.376908,0.048728
std,0.493044,22.612647,0.296607,0.226063,0.475034,1.090293,0.499985,45.283560,7.698018,1.071534,0.215320
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.300000,0.000000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,2.000000,0.000000,77.245000,23.800000,0.000000,0.000000
50%,0.000000,45.000000,0.000000,0.000000,1.000000,2.000000,1.000000,91.885000,28.400000,2.000000,0.000000
75%,1.000000,61.000000,0.000000,0.000000,1.000000,3.000000,1.000000,114.090000,32.800000,2.000000,0.000000
max,2.000000,82.000000,1.000000,1.000000,1.000000,4.000000,1.000000,271.740000,97.600000,3.000000,1.000000

In [18]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [19]:
x_train_std = std.fit_transform(x_train)
x_test_std = std.transform(x_test)

In [20]:
print(x_train_std)
print(x_test_std)

[[-0.83992074 -0.83809505  3.03224566 ...  0.03228276  0.83637584
   1.52891746]
 [ 1.18819265 -0.83809505 -0.32978858 ... -0.05130987 -0.48859616
   1.52891746]
 [-0.83992074  0.79192816 -0.32978858 ... -0.99455404  0.12193015
  -1.27680508]
 ...
 [-0.83992074  0.79192816 -0.32978858 ...  0.01964409  0.91431537
  -0.34156423]
 [-0.83992074  1.54085774 -0.32978858 ...  3.0540344  -0.35869695
   0.59367661]
 [-0.83992074 -0.79404037 -0.32978858 ... -0.93402144  0.31677897
  -0.34156423]]
[[-0.83992074  1.71707646 -0.32978858 ... -0.38058058  0.47265803
  -1.27680508]
 [-0.83992074  1.54085774 -0.32978858 ... -1.08235956 -0.37168687
  -1.27680508]
 [-0.83992074  0.57165475 -0.32978858 ... -0.8745975  -0.70942483
   0.59367661]
 ...
 [-0.83992074  0.08705326 -0.32978858 ... -0.28612312  0.81039599
  -0.34156423]
 [ 1.18819265 -0.66187632 -0.32978858 ... -0.40652312  3.48631984
  -1.27680508]
 [ 1.18819265  0.70381879 -0.32978858 ...  0.26953505  0.06997046
   1.52891746]]

In [21]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [22]:
dt.fit(x_train_std,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [23]:
dt.feature_importances_

array([0.04184227, 0.18411108, 0.02629717, 0.01143848, 0.00886081,
       0.03759283, 0.02475827, 0.33872242, 0.23133886, 0.0950378 ])

In [24]:
x_train.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status'],
      dtype='object')

In [26]:
from sklearn.metrics import accuracy_score

In [28]:
y_pred = dt.predict(x_test)

In [29]:
ac = accuracy_score(y_test,y_pred)

In [93]:
ac

0.9178082191780822

In [30]:
y_test

4088    0
3249    0
4890    0
3263    0
590     0
       ..
2448    0
3227    0
1434    0
662     0
289     0
Name: stroke, Length: 1022, dtype: int64

In [31]:
X = [['Male', 67.0, 0, 1, 'Yes', 'Private', 'Urban', 228.69, 36.6, 'formerly smoked']]
y_true = 1

In [32]:
columns = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married','work_type', 'Residence_type','avg_glucose_level', 'bmi', 'smoking_status']
X = pd.DataFrame(X, columns=columns)

In [33]:
for each in categorical_features:
    X[each] = enc.fit_transform(X[each])

In [34]:
x_test_std_test = std.transform(X)

In [35]:
x_test_std = std.transform(x_test)

Random Forest

In [36]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [38]:
rf.fit(x_train_std,y_train)
y_pred = rf.predict(x_test)
ac_rf = accuracy_score(y_test,y_pred)

In [39]:
print(ac_rf)

0.9559686888454012

In [ ]:
## SVM

In [40]:
from sklearn.svm import SVC
sv = SVC()

In [42]:
sv.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [43]:
y_pred = sv.predict(x_test)

In [44]:
ac_rf = accuracy_score(y_test,y_pred)

In [45]:
print(ac_rf)

0.9559686888454012